#as1{
  height: 600px;
  width: 1215px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #119b9d;
}
#i1{
height: 530px;
margin-left: 715px;
margin-top: 70px;
width: 500px;
 background-color:green;
position: absolute;
}
#i2{
  height: 130px;
  margin-top: 17px;
  margin-left: 25px;
}
#i3{
  height: 157px;
  margin-top: 200px;
  margin-left: -155px;
  position: absolute;
}
#w1{
  position: absolute;
  margin-top: 215px;
  margin-left: 55px;
  text-decoration: none;
  color: white;
}
#w2{
  position: absolute;
  margin-left:620px;
  margin-top: -90px;
  font-size: 17px;
  text-decoration: none;
  color:#044d4f;
}
#w2:hover{
  color: white;
}
#w3{
  position: absolute;
  margin-left:850px;
  margin-top: -90px;
  font-size: 17px;
  text-decoration: none;
  color: #044d4f;
}
#w4{
  position: absolute;
  margin-left:1090px;
  margin-top: -90px;
  font-size: 17px;
  text-decoration: none;
  color:#044d4f;
}
#w4:hover{
  color: white;
}
#w3:hover{
  color: white;
}


#w5{
  position: absolute;
  margin-top: 400px;
  margin-left: 40px;
  color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
}
#i4{
  height: 23px;
  margin-top: 7px;
  
}
#as2{
  height: 500px;
  width: 1215px;
}
#w6{
  color: #119b9d;

}
.i1{
  height: 130px;
  margin-left: 150px;
}
#w7{
  margin-left: 170px;
  color: #119b9d;
}
#w8{
  margin-left: 550px;
  color:#119b9d;
  margin-top: -30px;
}
#w9{
  margin-left: 850px;
  color: #119b9d;
  margin-top: -30px;
}
#w10{
  color: grey;
  margin-top: 20px;
  margin-left: 130px;
  font-family: Arial, Helvetica, sans-serif;
}
#w11{
  color: grey;
  margin-top: -115px;
  margin-left: 450px;
  font-family: Arial, Helvetica, sans-serif; 
}
#w12{
  color: grey;
  margin-top: -137px;
  margin-left: 850px;
  font-family: Arial, Helvetica, sans-serif; 
}
#as3{
  height: 400px;
  width: 1215px;
  background-color: lightgray;
}
#w13{
  color: #119b9d;
  padding-top: 50px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#w15{
  background-color: plum;
  color: white;
  text-decoration:none;
  height: 47px;
  box-shadow: 0px, 4px, 4px, lightgrey;
}
#as4{
  height: 520px;
  width: 1215px;
  background-color:#119b9d;
  display: flex;
  
}
 .w16{
  color: white;
  font-weight: bold;
  margin-left: 80px;
  margin-top: 50px;
}
#i6{
  position: absolute;
  height: 131px;
  margin-top: 253px;
  margin-left: 515px;
}
#w17{
  color: white;
  position: absolute;
  margin-top: 410px;
  margin-left: 490px;
  font-size: 11px;
}
#w18{
  color: white;
  position: absolute;
  margin-top: 440px;
  margin-left: 70px;
  font-size: 10px;
  font-weight: bold;
}
#w19{
  padding-left: 130px;
}
#oc2{
  position: absolute;
  background-color: rgb(46, 45, 45);
  border-radius: 40px;
  height: 39px;
  width: 39px;
  padding-top: 11px;
  margin-top: 110px;
  padding-left: 13px;
  margin-left: 460px;
  font-size: larger;
  color: white;
}
#oc11{
  position: absolute;
  background-color: rgb(46, 45, 45);
  border-radius: 40px;
  height: 39px;
  width: 39px;
  padding-top: 11px;
  margin-top: 110px;
  padding-left: 13px;
  margin-left: 530px;
  font-size: larger;
  color: white;
}
#oc3{
  position: absolute;
  background-color: rgb(46, 45, 45);
  border-radius: 40px;
  height: 39px;
  width: 39px;
  padding-top: 10px;
  margin-top: 110px;
  padding-left: 11px;
  margin-left: 600px;
  font-size: larger;
  color: white;
}
#oc4{
  position: absolute;
  background-color: rgb(46, 45, 45);
  border-radius: 40px;
  height: 39px;
  width: 39px;
  padding-top: 10px;
  margin-top: 110px;
  padding-left: 11px;
  margin-left: 670px;
  font-size: larger;
  color: white; 
}
#oc5{
  position: absolute;
  background-color: rgb(46, 45, 45);
  border-radius: 40px;
  height: 39px;
  width: 39px;
  padding-top: 11px;
  margin-top: 110px;
  padding-left: 13px;
  margin-left: 740px;
  font-size: larger;
  color: white; 
}
#y1{
  position: absolute;
  margin-top: 5px;
  color:#044d4f;
  font-size: x-large;
  font-weight: bold;
  padding-left: 11px;
}
#ys1{
  height: 50px;
  width: 380px;
  background-color: white;
  position: absolute;
  margin-top: -370px;
  margin-left: 200px;
}
#ys2{
  height: 150px;
  width: 530px;
  background-color: white;
  position: absolute;
  margin-top: -320px;
  margin-left: 130px;
  color: #119b9d;
}
#y2{
  position: absolute;
  margin-top: 5px;
  color:#119b9d;
  font-size: 48px;
  font-weight: bolder;
  padding-left: 37px;
  font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#t{
  padding-left: 125px;
}
#ys3{
  height: 50px;
  width: 470px;
  background-color: white;
  position: absolute;
  margin-top: -450px;
  margin-left: 150px;
  color: #119b9d;;
}
#ys4{
  height: 150px;
  width: 530px;
  background-color: white;
  position: absolute;
  margin-top: -430px;
  margin-left: 130px;
  padding-left: 50px;
  color: #119b9d;
}
#t2{
  padding-left: -25px;
}
#co{
  text-decoration: none;
  color: white;
}
#i42{
  width: 290px;
  background-color: white;
  position: absolute;
  margin-top: 400px;
  height: 50px;
  margin-left: -140px;
  font-size: large;
  padding-left: 20px;
}
#ca{
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  margin-top: 415px;
  margin-left: 49px;
  color: gray;
  border: 0px;
}
#de{
  padding-top: -12px;
}
#if99{
  position: absolute;
  margin-top: 418px;
  height: 13px;
  width: 12px;
  color: plum;
  margin-left: -131px;
}
#in7{
  background-color: plum;
  color: white;
  width: 90px;
  height: 50px;
  font-size: large;
  font-weight: bold;
  position: absolute;
  margin-top: 460px;
  margin-left: -110px;
}
#i52{
  width: 230px;
  background-color: white;
  position: absolute;
  margin-top: 400px;
  height: 50px;
  margin-left: 170px;
  font-size: large;
  padding-left: 25px;
}
#df{
  margin-top: -21px;
  margin-left: 0px;
  font-size: 12px;
}
#cb{
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  margin-top: 415px;
  margin-left: 279px;
  color: gray;
  border: 0px;
}
#if98{
  position: absolute;
  margin-top: 414px;
  height: 13px;
  width: 12px;
  color: plum;
  margin-left: 185px;
  font-size: 20px;
}
#uy{
  text-decoration: none;
  color: purple;
}
  


